html,body{
  overflow: auto;
}

@font-face {
  font-family: 'Fofer';
  src:url('Fofer.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cavorting';
  src:url('Cavorting.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sketch_Block';
  src:url('Sketch_Block.ttf');
  font-weight: normal;
  font-style: normal;
}