#user-registration-top, #user-top{
  background-color: #EEE;
  #error_explanation{
    h2{
      font-size: 16px;
    }
    li{
      font-size: 14px;
    }
  }
  #first-login-hint{
    color: darken(blue, 10%);
    text-align: center;
  }
  #back{
    position: absolute;
    right: -12px;
    top: -12px;
    cursor: pointer;
  }
  #edit{
    position: relative;
    max-width: 480px;
    margin: 36px auto;
    background-color: #FFF;
    border: solid 1px #DDD;
    padding: 32px;
    border-radius: 16px;
  }
}
